<% provide(:title,"About") %>
<h1>About</h1>
<p>
  Home page
  <a href="../static_pages/home">
    <img border="0" alt="Home" src="https://cdn0.iconfinder.com/data/icons/material-design-outline/24/home-512.png" width="75" height="75">
  </a>
</p>
<p>
  Help page
  <a href="../static_pages/help">
    <img border="0" alt="Help" src="https://cdn0.iconfinder.com/data/icons/interface-editing-and-time-1/64/help-mark-question-512.png" width="75" height="75">
  </a>
</p>
<p>
  About page
  <a href="../static_pages/about">
    <img border="0" alt="About" src="https://cdn4.iconfinder.com/data/icons/gray-toolbar-8/512/xxx019-512.png" width="75" height="75">
  </a>
</p>
<div>
  <div class="text">
    Gray jedi logo (src from net)
  </div>
  <img src="https://i.stack.imgur.com/AHNvym.jpg">
</div>
<div>
  <div class="text">
    Jedi logo (src from local)
  </div>
  <%#= link_to image_tag("jedi.png", alt: "Jedi Symbol", width: "200"), "https://pl.wikipedia.org/wiki/Jedi" %>
</div>
