<% provide(:title,"Help") %>
<h1>Help</h1>
<p>
  Home page
  <a href="../static_pages/home">
    <img border="0" alt="Home" src="https://cdn0.iconfinder.com/data/icons/material-design-outline/24/home-512.png" width="75" height="75">
  </a>
</p>
<p>
  Help page
  <a href="../static_pages/help">
    <img border="0" alt="Help" src="https://cdn0.iconfinder.com/data/icons/interface-editing-and-time-1/64/help-mark-question-512.png" width="75" height="75">
  </a>
</p>
<p>
  About page
  <a href="../static_pages/about">
    <img border="0" alt="About" src="https://cdn4.iconfinder.com/data/icons/gray-toolbar-8/512/xxx019-512.png" width="75" height="75">
  </a>
</p>
<p>
  Contact page
  <a href="../static_pages/contact">
    <img border="0" alt="About" src="https://cdn3.iconfinder.com/data/icons/mobile-and-phone-contact-and-communication/24/Material_icons-05-11-512.png" width="75" height="75">
  </a>
</p>

